#Presentacion {

    text-align: center;
    /* Alinea el texto segun el valor dado */
}

#Compra {

    margin-top: 100px;
    /* crea un margen entre la parte de indicada (top, left, right bottom)y el elemento */
    margin-left: 50px;

}

h1 {

    font-size: 100px;
    /* Determina el tamaño de la letra*/
}

p {
    font-size: 40px;
}

#fasecompra {

    margin-top: 300px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}


body {
    background-color: black;
    /* Determina el color del fondo */
    justify-content: center;
    font-family: 'Times New Roman', serif;
    /* Determina el tipo de fuente utilizada */
    color: white;
    /* Determina el color de la fuente */
}